/* ALGEMENE WIJZIGINGEN BOVENAAN - UTILITIES / KLEUREN / GLOBAL EDITS */

/* BRONNEN NOTATIE:
    BEM:
        https://sparkbox.com/foundry/bem_by_example#:~:text=BEM%20(which%20stands%20for%20Block,read%2C%20understand%2C%20and%20scale.
        https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roc Grotesk', 'Lato', sans-serif;
}

body {
    /* Padding voor fixed top-bar bovenaan */
    padding-top: 36px;
    height: 100%;
}

/* Alle afbeeldingen in kolommen hebben een box-shadow-,
deze selector wordt gebruikt om alle afbeeldingen binnen een kolom te selecteren.
    Bron:
    -   https://www.w3schools.com/cssref/css_selectors.php
*/

[class*="col"] img {
    width: 100%;
    height: auto;
    border-radius: .1rem;
}

/* --- COLORS --- */

.bg-white { background-color: #ffffff; }
.bg-light { background-color: #FDFDFD; }
.bg-lightgrey { color: #F5F5F5}
.color2 { background-color: #5151EF; }
.color3 { background-color: #9B9BAB; }
.color4 { background-color: #1E1E30; }
.bg-red-prim { background-color: #FF5757}
.bg-darker { background-color: #121212; }

.text-light { color: #FDFDFD; }
.text-lightgrey { color: #F5F5F5}
.text-color2 { color: #5151EF; }
.text-color3 { color: #9B9BAB; }
.text-color4 { color: #1E1E30; }
.text-red-prim { color: #FF5757}
.text-darker { color: #121212; }

/* UTILITIES */

.border {
    border: 1px solid #282828;
}

.boxshadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.currentpage {
    text-decoration: line-through;
}

.cover {
    object-fit: cover;
    min-height: 320px;
    max-height: 320px;
    min-width: 30%;
}

.download-link {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: .8rem;
}

.download-link:hover {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    font-size: .8rem;
}

.figcaption {
    font-size: .6rem;
    font-style: italic;
}

.subtext {
    font-size: .8rem;
    font-weight: 200;
}

.round_corners {
    border-radius: .25rem;
}

.text-align-center {
    text-align: center;
}

/* --- NAVBAR TOP --- NEW 🔥🔥🔥  --- */
#navbar-top {
    background-color: #FDFDFD;
    box-shadow: 0 2px 15px rgba(20, 20, 20, 0.05);
    position: fixed;
    top: 0;
    left: calc(50%);
    transform: translate(-50%);
}

.navbar-top__nametag {
    color: #121212;
    font-size: 1.2rem;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.navbar-top__nametag:hover {
    color: #121212;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 600;
    font-size: 1.22rem;
}

.navbar-top__nametag:active {
    color: #5151EF;
    font-size: 1.22rem;
}

.navbar-top__listitem {
    list-style-type: none;
}

.navbar-top__link {
    font-size: 1rem;
    color: #121212;
}

.navbar-top__link:hover {
    color: #FF5757;
    font-size: 1.02rem;
    font-weight: 500;
}

.navbar-top__link:active {
    color: #5151EF;
    font-size: 1.02rem;
}

/* FOOTER */

.footer-bar {
    background-color: #FDFDFD;
    height: 1px;
}

.footer--header_sm {
    text-transform: uppercase;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .9rem;
}

.footer--text {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8rem;
    line-height: 1rem;
}

.footer--link {
    color: #FDFDFD;
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: .8rem;
    line-height: 1rem;
}

.footer--link:hover {
text-decoration: underline;
}
/* PROJECTS  */

.projects-card-img {
    height: auto;
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
}

.projects-card-txt {
    color: #FDFDFD;
    text-align: end;
}

.projects-card-txt--header {
    font-family: roc-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    padding-top: .5rem;
    margin: 0;
}

.projects-card-txt--subheader {
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: .7rem;
    padding-top: .2rem;
    margin: 0;
}

.projects-card-btn {
    text-align: center;
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin-top: .5rem;
    background-color: #FF5757;
    border: none;
    border-radius: .1rem;
    color: #FDFDFD;
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-right: .2rem;
    padding-left: .2rem;
}

.projects-card-btn:hover {
    background-color: #FDFDFD;
    border: none;
    border-radius: .1rem;
    color: #121212;
}

.projects-card-btn:active {
    background-color: #FF5757;
    text-decoration: underline;
}

/* --- ABOUT --- */

.about-top {
    margin-top: 4rem;
}

.about__headline {
    font-size: 2rem;
    font-weight: 600;
    color: #FDFDFD;
    padding: 0;
}

.about__subheader {
    font-size: .9rem;
    font-weight: 400;
    color: #FDFDFD;
}

.about__text {
    font-size: 1rem;
    font-weight: 400;
    color: #FDFDFD;
}

.about__subtext {
    font-size: .85rem;
    font-weight: 300;
    color: #FDFDFD;
}

.about__profielfoto {
    border: 2px solid #FDFDFD;
    width: 100%;
    max-height: 360px;
}

/* CONTACT -- NIEUW */

.contact__heading {
    font-size: 3rem;
    font-weight: 700;
    color: #FF5757;
}

.contact-txt-input {
    border-radius: .1rem;

}

.contact-txt-input::placeholder {
    color: #2C2C2C;
}

.adres__list {
    list-style-type: none;
    text-decoration: none;
    list-style-position: inside;
    padding-left: 0;
}

.contact__listitem {
    margin-bottom: .2rem;
    font-weight: 400;
    font-size: .9rem;
}

.formulier__button {
    display: inline;
    color: #FDFDFD;
    background-color: #FF5757;
    border: none;
    border-radius: .1rem;
    padding: .15rem .4rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.formulier__button:hover {
    color: #FDFDFD;
    background-color: #121212;
}

a:link {
    text-decoration: none;
}

.contactformulier label {
    display: none;
}

/* --- NAVBAR - PXL-DIGITAL -- AANGEPAST !! 🚀🚀 --- */

.navbar-pxl__listitem_dark {
    list-style-type: none;
    text-align: center;
    border-radius: 0;
    border-bottom: 1px solid #121212;
}

.navbar-pxl__listitem_light {
    list-style-type: none;
    text-align: center;
    border-radius: 0;
    border-bottom: 1px solid #FDFDFD;
}

.navbar-pxl-link_dark {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-variant: titling-caps;
    color: #121212;
}

.navbar-pxl-link_light {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-variant: titling-caps;
    color: #FDFDFD;
}

.navbar-pxl-link_dark:hover {
    color: #FF5757;
}

.navbar-pxl-link_dark a:hover {
    color: #121212;
}

.navbar-pxl-link_light:hover {
    color: #FF5757;
}

.navbar-pxl-link_currentpage {
    font-weight: 300;
}

.navbar-pxl-link_dark:active {
    text-decoration-line: line-through;
}

.navbar-pxl-link_light:active {
    text-decoration-line: line-through;
}

/* --- NAVBAR MY WORK --- */

.navbar-my-work__listitem {
    list-style-type: none;
    text-align: center;
    background-color: #FDFDFD;
    border-radius: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.navbar-my-work__listitem:hover {
    background-color: #FF5757;
}

.navbar-my-work__link {
    text-decoration: none;
    font-weight: 400;
    font-variant: titling-caps;
    color: #1E1E30;
}

.navbar-my-work__link:hover {
    color: #FFFFFF;
}

.navbar-my-work__link:active {
    text-decoration-line: line-through;
}

/* --- TITLE ---  */

.page-head__title {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: underline;
}

/* WPL1 */

.wpl-branding-img {
    max-height: 440px;
    object-fit: contain;
    border: 8px solid #FF5757;
}

.wpl-buildr-img {
    max-height: 440px;
    object-fit: contain;
}

/*  --- SUBJECT-BLOCK ---
    TEST: nakijken of ik deze kan toepassen op meerdere elementen in de pagina
    -   Voor textopmaak blokken.!!
    -   https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Fundamentals
    */

.subject-block__text {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .95rem;
    line-height: 1.4;
    max-width: 75ch;
}

.subject-block__text--center {
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.3;
    width: auto;
}

.subject-block__title_xl {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
}

.subject-block__title_lg {
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}

.subject-block__title_md {
    font-family: roc-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
}

subject-block__largequote {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}

.subject-block__subtitle {
    font-family: roc-grotesk, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.subject-block__subtext {
    font-family: roc-grotesk, sans-serif;
    font-size: .75rem;
    font-weight: 300;
}

/* --- WERKPLEKLEREN PAGE --- */

.kernwaarden-wpl__pill {
    text-align: center;
    color: #FDFDFD;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .8rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .2rem;
    padding-right: .2rem;
    border-radius: .1rem;;
}

.document-scroll iframe {
    width: 100%;
    height: 15rem;
    border: none;
}

/* --- DIGITAL BRANDING PAGE --- */

#db_logo img { box-shadow: none; }

/* ---COLLIDER --- */
/* --- LINE DRAWINGS --- */
/* --- AMPERE --- */
/* --- MEDIA --- */

/* --- BACK-TO-TOP BUTTON --- */

.top-button {
    position: relative;
}

.top-button__link {
    position: fixed;
    color: #FDFDFD;
    background-color: #FF5757;
    border-radius: .2rem;
    box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.05);
    font-family: roc-grotesk-compressed, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: normal;
    text-align: right;
    text-decoration: none;
    line-height: 1.5rem;
    padding: .6rem .75rem;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;
}

.top-button__link:hover {
    padding: .65rem .8rem;
    background-color: #121212;
}

/* --- MEDIA QUERIES RESPONSIVITEIT - XS / SM / MD / LG / XL / XXL --- */

/* --- XS / EXTRA SMALL - Minder dan 576px breedte = default state Bootstrap --- */

@media only screen and (max-width: 576px) {

    .intro__headline {
        font-size: 3rem;
        font-weight: 800;
    }

    .intro__subheader {
        font-size: 1.3rem;
    }

}

/* --- SM /  SMALL - Meer dan 576px breedte --- */

@media only screen and (min-width: 576px) {

}

/* --- MD / MEDIUM - Meer dan 768px --- */

@media only screen and (min-width: 768px) {

}


/* --- LG / LARGE - Meer dan 992px --- */

@media only screen and (min-width: 992px) {

    .navbar-my-work__listitem {
        border-radius: 1rem;
        border-collapse: collapse;
    }
    .kernwaarden-wpl__pill {
        font-size: 1rem;
    }
    .line-smits-herfst__textarea {
        padding-right: 5rem;
    }
}
/* --- XL / EXTRA LARGE - Meer dan 1200px --- */

@media only screen and (min-width: 1200px) {

}

/* --- XXL - Meer dan 1400px --- */

@media only screen and (min-width: 1400px) {

}