/* ALGEMENE WIJZIGINGEN BOVENAAN - UTILITIES / KLEUREN / GLOBAL EDITS */

/* BRONNEN NOTATIE:
    BEM:
        https://sparkbox.com/foundry/bem_by_example#:~:text=BEM%20(which%20stands%20for%20Block,read%2C%20understand%2C%20and%20scale.
        https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roc Grotesk', 'Lato', sans-serif;
}

body {
    /* Padding voor fixed top-bar bovenaan */
    padding-top: 36px;
    height: 100%;
}

/* Alle afbeeldingen in kolommen hebben een box-shadow-,
deze selector wordt gebruikt om alle afbeeldingen binnen een kolom te selecteren.
    Bron:
    -   https://www.w3schools.com/cssref/css_selectors.php
*/

[class*="col"] img {
    width: 100%;
    height: auto;
    border-radius: .1rem;
}

.squareimg {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.topfill {
    height: 3rem;
    margin-top: -36px;
}

/* --- COLORS --- */

.bg-white { background-color: #ffffff; }
.bg-light { background-color: #FDFDFD; }
.bg-lightgrey { color: #F5F5F5}
.color2 { background-color: #5151EF; }
.bg-grey_200 { background-color: #DADADA; }
.color4 { background-color: #1E1E30; }
.bg-red-prim { background-color: #FF5757}
.bg-darker { background-color: #121212; }

.text-color2 { color: #5151EF; }
.text-red-prim { color: #FF5757}
.text-light { color: #FDFDFD; }
.text-lightgrey { color: #F5F5F5}
.text-grey_200 { color: #DADADA; }
.text-grey_500 { color: #888888; }
.text-grey_700 { color: #4D4D4D; }
.text-grey_800 { color: #1C1C1C; }
.text-darker { color: #121212; }

/* UTILITIES */

.border {
    border: 1px solid #282828;
}

.boxshadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.currentpage {
    text-decoration: line-through;
}

.cover {
    object-fit: cover;
    min-height: 320px;
    max-height: 320px;
    min-width: 30%;
}

.download-link {
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    font-size: .8rem;
}

.download-link:hover {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    font-size: .8rem;
}

.figcaption {
    font-size: .6rem;
    font-style: italic;
}

.subtext {
    font-size: .8rem;
    font-weight: 200;
}

.round_corners {
    border-radius: .25rem;
}

.text-align-center {
    text-align: center;
}

/* --- NAVBAR TOP --- NEW 🔥🔥🔥  --- */
#navbar-top {
    background-color: #121212;
    box-shadow: 0 2px 15px rgba(20, 20, 20, 0.05);
    position: fixed;
    top: 0;
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
    z-index: 99;
}

.navbar-top__nametag {
    color: #FDFDFD;
    font-size: 1.2rem;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.navbar-top__nametag:hover {
    color: #FDFDFD;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 600;
    font-size: 1.22rem;
}

.navbar-top__nametag:active {
    color: #5151EF;
    font-size: 1.22rem;
}

.navbar-top__listitem {
    list-style-type: none;
}

.navbar-top__link {
    font-family: roc-grotesk-wide, sans-serif;
    font-size: 1rem;
    line-height: 0rem;
    color: #FDFDFD;
}

.navbar-top__link:hover {
    font-size: 1.02rem;
    font-weight: 600;
}

.navbar-top__link:active {
    color: #5151EF;
    font-size: 1.02rem;
}

.navbar-toggler-icon {
    color: #FDFDFD;
    background-color: #FDFDFD;
}

/* --- FOOTER --- */

.footer-bar {
    background-color: #FDFDFD;
    height: 1px;
}

.footer--header_sm {
    text-transform: uppercase;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .9rem;
}

.footer--text {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8rem;
    line-height: 1rem;
}

.footer--link {
    color: #FDFDFD;
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: .8rem;
    line-height: 1rem;
}

.footer--link:hover {
text-decoration: underline;
}

/* PROJECTS  */

.projects-card {
    position: relative;
    overflow: hidden;
}

.projects-card-img {
    position: relative;
    z-index: 1;
}

.projects-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Overlay color and opacity */
    opacity: 0;
    transition: opacity 0.3s ease-in; /* Transition effect */
    pointer-events: auto; /* Allows mouse events to pass through the overlay */
    backdrop-filter: blur(.6rem); /* Apply blur effect */
    z-index: 2;
    border-radius: .1rem;
    border: 2px solid white;
}

.projects-card:hover .projects-card-overlay {
    opacity: 1;
}

.projects-card:hover .projects-card-txt {
    opacity: 1;
}

.projects-card-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #121212;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease; /* Transition effect */
    z-index: 3;
}

.projects-card-img {
    height: auto;
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
}

.projects-card-txt--xs {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .9rem;
    margin: 0;
}

.projects-card-txt--header {
    font-family: roc-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    margin: 0;
}

.projects-card-txt--subheader {
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: .7rem;
    margin: 0;
}

.projects-card-btn {
    text-align: center;
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin-top: .2rem;
    background-color: #FF5757;
    border: none;
    border-radius: .1rem;
    color: #FDFDFD;
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-right: .25rem;
    padding-left: .25rem;
}

.projects-card-btn:hover {
    background-color: transparent;
    border: none;
    border-radius: .1rem;
    color: #121212;
}

.projects-card-btn:active {
    background-color: #FF5757;
    text-decoration: underline;
}

/* --- --- --- --- */

.projects-card-btn--wide {
    text-align: center;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin-top: .2rem;
    background-color: #FDFDFD;
    border: none;
    border-radius: .1rem;
    color: #121212;
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-right: .35rem;
    padding-left: .35rem;
}

.projects-card-btn--wide:hover {
    background-color: transparent;
    color: #FDFDFD;
}

.projects-card-btn--wide:active {
    color: #FDFDFD;
    text-decoration: underline;
}

#transitVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* --- ABOUT --- */

.about-top {
    margin-top: 4rem;
}

.about__headline {
    font-family: roc-grotesk, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #FDFDFD;
    padding: 0;
}

.about__subheader {
    font-family: roc-grotesk, sans-serif;
    font-size: .9rem;
    font-weight: 400;
    color: #FDFDFD;
}

.about__text {
    font-family: roc-grotesk, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #FDFDFD;
    hyphenate-limit-chars: 10 4 4;
    hyphens: auto;
}

.about__subtext {
    font-family: roc-grotesk, sans-serif;
    font-size: .85rem;
    font-weight: 300;
    color: #FDFDFD;
}

.about__profielfoto {
    border: 1px solid #FDFDFD;
    width: 100%;
    max-height: 360px;
    object-fit: cover;
}

.about-int--title {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.35rem;
}

.about-int {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    margin: auto;
}

.about-int:hover {
    color: #FDFDFD;
    font-size: 1.05rem;
}

/* CONTACT -- NIEUW */

.contact__heading {
    font-size: 3rem;
    font-weight: 700;
    color: #FF5757;
}

.contact-txt-input {
    border-radius: .1rem;

}

.contact-txt-input::placeholder {
    color: #2C2C2C;
}

.adres__list {
    list-style-type: none;
    text-decoration: none;
    list-style-position: inside;
    padding-left: 0;
}

.contact__listitem {
    margin-bottom: .2rem;
    font-weight: 400;
    font-size: .9rem;
}

.formulier__button {
    font-family: roc-grotesk, sans-serif;
    display: inline;
    color: #FDFDFD;
    background-color: #FF5757;
    border: none;
    border-radius: .1rem;
    padding: .15rem .4rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.formulier__button:hover {
    color: #FDFDFD;
    background-color: #121212;
}

a:link {
    text-decoration: none;
}

.contactformulier label {
    display: none;
}

/* --- NAVBAR - PXL-DIGITAL -- AANGEPAST !! 🚀🚀 --- */

.navbar-pxl {
    position: relative;
}

.navbar-pxl__toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.navbar-pxl__hamburger {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
}

.navbar-pxl__listitem_dark {
    list-style-type: none;
    text-align: center;
    border-radius: 0;
    border-bottom: 1px solid #121212;
}

.navbar-pxl__listitem_light {
    list-style-type: none;
    text-align: center;
    border-radius: 0;
    border-bottom: 1px solid #FDFDFD;
}

.navbar-pxl__list {
    list-style-type: none;
    padding: 0;
}

.navbar-pxl-link_dark {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-variant: titling-caps;
    color: #121212;
}

.navbar-pxl-link_light {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-variant: titling-caps;
    color: #FDFDFD;
}

.navbar-pxl-link_dark:hover {
    color: #FF5757;
}

.navbar-pxl-link_dark a:hover {
    color: #121212;
}

.navbar-pxl-link_light:hover {
    color: #FF5757;
}

.navbar-pxl-link_currentpage {
    font-weight: 300;
}

.navbar-pxl-link_dark:active {
    text-decoration-line: line-through;
}

.navbar-pxl-link_light:active {
    text-decoration-line: line-through;
}

/* --- NAVBAR MY WORK --- */

.navbar-my-work__listitem {
    list-style-type: none;
    text-align: center;
    background-color: #FDFDFD;
    border-radius: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.navbar-my-work__listitem:hover {
    background-color: #FF5757;
}

.navbar-my-work__link {
    text-decoration: none;
    font-weight: 400;
    font-variant: titling-caps;
    color: #1E1E30;
}

.navbar-my-work__link:hover {
    color: #FFFFFF;
}

.navbar-my-work__link:active {
    text-decoration-line: line-through;
}

/* --- TITLE ---  */

.page-head__title {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: underline;
}

/* DRAWINGS */

.linedrawing_pop {
    border: 2px solid #FDFDFD;
}

/* WPL1 */

.wpl-branding-img {
    max-height: 440px;
    object-fit: contain;
    border: 8px solid #FF5757;
}

.wpl-buildr-img {
    max-height: 440px;
    object-fit: contain;
}

/*  --- SUBJECT-BLOCK ---
    TEST: nakijken of ik deze kan toepassen op meerdere elementen in de pagina
    -   Voor textopmaak blokken.!!
    -   https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Fundamentals
    */

.subject-block__text {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .95rem;
    line-height: 1.4;
    max-width: 70ch;
}

.subject-block__text--md {
    font-family: roc-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.3;
    max-width: 60ch;
    margin: 0;
    padding: 0;
}

.subject-block__text--lg {
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    max-width: 35ch;
    margin: 0;
    padding: 0;
}

.subject-block__text--center {
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.3;
}

.subject-block__title--xl {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
}

.subject-block__title--lg {
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}

.subject-block__title--fat {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
}

.subject-block__title--md {
    font-family: roc-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
}

.subject-block__quote--lg {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}

.subject-block__quote--md {
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
    max-width: 54ch;
    margin: auto;
}

.subject-block__subtitle {
    font-family: roc-grotesk, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.subject-block__subtitle--wide {
    font-family: roc-grotesk-extrawide, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
}

.subject-block__subtext {
    font-family: roc-grotesk, sans-serif;
    font-size: .75rem;
    font-weight: 300;
}

.subject-block__subdate {
    font-family: roc-grotesk, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.subject-block__list {
    list-style-type: circle;
    line-height: 1.8rem;
}

.subject-block__listitem--md {
    text-decoration: none;
    font-family: roc-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* --- BUILDR PAGE --- */

#buildr_logo {
    min-height: fit-content;
}

#buildr_underlay_red {
    min-height: 20vh;
    z-index: -1;
    margin-top: -10vh;
}

#buildr_background_mockups {
    max-height: 45vh;
    object-fit: cover;
}
/* --- WERKPLEKLEREN PAGE --- */

.kernwaarden-wpl__pill {
    text-align: center;
    color: #FDFDFD;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .8rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .2rem;
    padding-right: .2rem;
    border-radius: .1rem;;
}

.document-scroll iframe {
    width: 100%;
    height: 15rem;
    border: none;
}

/* --- DIGITAL BRANDING PAGE --- */

#db_logo img { box-shadow: none; }

/* ---COLLIDER --- */
/* --- LINE DRAWINGS --- */
/* --- AMPERE --- */
/* --- MEDIA --- */

/* --- BACK-TO-TOP BUTTON --- */

.top-button {
    position: relative;
}

.top-button__link {
    position: fixed;
    color: #FDFDFD;
    background-color: #FF5757;
    border-radius: .2rem;
    box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.05);
    font-family: roc-grotesk-compressed, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: normal;
    text-align: right;
    text-decoration: none;
    line-height: 1.5rem;
    padding: .6rem .75rem;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;
}

.top-button__link:hover {
    padding: .65rem .8rem;
    background-color: #121212;
}

.control-prev-icon,
.control-next-icon {
    font-size: 1.5rem;
    color: #121212;
}

.control-prev-icon {
    position: absolute;
    right: 120%;
    z-index: 2;
}

.control-next-icon {
    position: absolute;
    left: 120%;
    z-index: 2;
}
/* --- MEDIA QUERIES RESPONSIVITEIT - XS / SM / MD / LG / XL / XXL --- */

/* --- XS / EXTRA SMALL - Minder dan 576px breedte = default state Bootstrap --- */

@media only screen and (max-width: 576px) {

    .navbar-top__nametag {
        font-size: 1rem;
    }
    .navbar-top__link {
        display: block;
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .navbar-top__link:hover {
        display: block;
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .navbar-pxl__toggle {
        display: block;
    }

    .navbar-pxl__list {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
        padding: 20px;
    }

    .navbar-pxl__listitem_dark {
        display: block;
        margin-bottom: 10px;
    }

    .projects-card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8); /* Overlay color and opacity */
        opacity: 0;
        transition: opacity 0.3s ease-in; /* Transition effect */
        pointer-events: auto; /* Allows mouse events to pass through the overlay */
        backdrop-filter: blur(.6rem); /* Apply blur effect */
        z-index: 2;
        border-radius: .1rem;
        border: 2px solid white;
    }

    .projects-card:hover .projects-card-overlay {
        opacity: 1;
    }

    .projects-card-txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        color: #121212;
        width: 100%;
        padding: 10px;
        opacity: 0;
        transition: opacity 0.3s ease; /* Transition effect */
        z-index: 3;
    }

    .projects-card:hover .projects-card-txt {
        opacity: 1;
    }

    /* Adjust the text styles as per your requirements */

    .projects-card-img {
        height: auto;
        aspect-ratio: 16/9;
        width: 100%;
        object-fit: cover;
    }

    .projects-card-txt--xs {
        font-family: roc-grotesk, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: .8rem;
        line-height: 1rem;
        margin: 0;
    }

    .projects-card-txt--header {
        font-family: roc-grotesk, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1rem;
        margin: 0;
    }

    .projects-card-txt--subheader {
        font-family: roc-grotesk, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: .7rem;
        margin: 0;
    }

    .projects-card-btn {
        text-align: center;
        font-family: roc-grotesk, sans-serif;
        font-size: .8rem;
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
        background-color: #FF5757;
        border: none;
        border-radius: .1rem;
        color: #FDFDFD;
        padding-top: .1rem;
        padding-bottom: .1rem;
        padding-right: .25rem;
        padding-left: .25rem;
    }

    .projects-card-btn:hover {
        background-color: transparent;
        border: none;
        border-radius: .1rem;
        color: #121212;
    }

    .projects-card-btn:active {
        background-color: #FF5757;
        text-decoration: underline;
    }


    #holycow-moodboard {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .intro__headline {
        font-size: 3rem;
        font-weight: 800;
    }

    .intro__subheader {
        font-size: 1.3rem;
    }

    .cover {
        object-fit: cover;
        max-height: 240px;
        aspect-ratio: 1 / 1;
    }

    .subject-block__title--xl {
        font-size: 2.5rem;
    }

    .subject-block__text--lg {
        font-size: 1.25rem;
        max-width: 35ch;
    }

    .subject-block__text--md {
        font-size: .9rem;
        max-width: 40ch;
    }



}

/* --- SM /  SMALL - Meer dan 576px breedte --- */

@media only screen and (min-width: 576px) {

}

/* --- MD / MEDIUM - Meer dan 768px --- */

@media only screen and (min-width: 768px) {

    #holycow-moodboard {
        margin-top: -20vh;
    }

}


/* --- LG / LARGE - Meer dan 992px --- */

@media only screen and (min-width: 992px) {

    .navbar-my-work__listitem {
        border-radius: 1rem;
        border-collapse: collapse;
    }
    .kernwaarden-wpl__pill {
        font-size: 1rem;
    }
    .line-smits-herfst__textarea {
        padding-right: 5rem;
    }
}
/* --- XL / EXTRA LARGE - Meer dan 1200px --- */

@media only screen and (min-width: 1200px) {

}

/* --- XXL - Meer dan 1400px --- */

@media only screen and (min-width: 1400px) {

}